<html>
<body>
<h1>Hallo Lieber Benutzer, dies ist ein personalisierter Kalender.<br>
    Bitte logge dich ein, um Zugang zu persönlichen Daten zu erhalten</h1>
  <form>
    <tr>
      <td>E-Mail</td>
      <td><input type="text" id="email" placeholder="E-Mail" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></td>
    </tr>
    <tr>
      <td>Passwort</td>
      <td><input type="password" id="passwort" placeholder="Passwort"></td>
    </tr>
    </form>
    <button type ="button" >Bestätigen </button>
    <br>
    <button type="button"> Registrieren</button>

</body>
</html>
